@import url(./__block/profile__block.css);
@import url(./__avatar/profile__avatar.css);
@import url(./__info/profile__info.css);
@import url(./__container-info/profile__container-info.css);
@import url(./__title/profile__title.css);
@import url(./__subtitle/profile__subtitle.css);

.profile {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
       
}